
@font-face{
font-family: avenir;
src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular");
font-weight: 400;
}

@font-face{
    font-family: avenir;
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold");
    font-weight: 700;
    }
@font-face{
    font-family: avenir;
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi");
    font-weight:600;
        }
        