//colors 

$primaryone: #323232; black
$primarytwo: #ffffff;  white
$primarythree: #afafaf; silver
$secondaryone: #000000; darkblack
$secondarytwo: #e1e1e1; mercury
$secondarythree: #fafafa; alabaster

//breakpoints
$tablet: 768px;
$desktop: 1280px;

