//colors

$primaryone: #323232;
$primarytwo: #ffffff;
$primarythree: #afafaf;
$secondaryone: #000000;
$secondarytwo: #e1e1e1;
$secondarythree: #fafafa;

//breakpoints
$tablet: 768px;
$desktop: 1280px;
