@use "./partials/resets" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// header properties

.header {
  background-color: $primaryone;
  padding-top: 1.5rem;

  @include tablet {
    padding: 2.25rem;
    display: flex;
    padding-bottom: 0;
  }

  @include desktop {
    padding-left: 8.125rem;
  }

  &__logo {
    display: flex;
    margin: 0 auto;

    @include tablet {
      margin-right: 3rem;
      height: 1.25rem;
      width: 7.5rem;
      margin-top: 0.438rem;
    }
  }

  &__link {
    text-decoration: none;
  }
}

//navigation

.navigation {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  @include tablet {
    padding-top: 0;
    align-self: center;
  }

  &__list {
    display: flex;
    font-family: avenir;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0;
    font-weight: 600;

    @include tablet {
      font-size: 1.25rem;
      font-weight: 300;
      margin-top: 0.438rem;
    }
  }

  &__item {
    width: 50%;
    display: flex;
    justify-content: center;

    @include tablet {
      width: 20%;
      justify-content: end;
    }

    @include desktop {
      justify-content: flex-start;
      width: 9rem;
    }
  }

  &__biography {
    color: $primarytwo;
    text-decoration: none;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid $primarytwo;
    font-weight: 700;
    padding-left: 3rem;
    padding-right: 2.6rem;

    @include tablet {
      border-bottom: 0.25rem solid $primarytwo;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 2.25rem;
    }
  }

  &__biography:hover {
    text-decoration: none;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid $primarytwo;
    padding-left: 3rem;
    padding-right: 2.6rem;

    @include tablet {
      border-bottom: 0.25remf solid $primarytwo;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 2.25rem;
    }
  }

  &__shows {
    color: $secondarytwo;
    text-decoration: none;
  }

  &__shows:hover {
    text-decoration: none;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid $primarytwo;
    color: $primarytwo;
    padding-left: 3.5rem;
    padding-right: 4rem;

    @include tablet {
      text-decoration: none;
      border-bottom: 0.25rem solid $primarytwo;
      padding-bottom: 2.25rem;
      color: $primarytwo;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// hero section

.hero {
  &__image {
    width: 100%;
    height: 40vh;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    align-items: center;

    @include tablet {
      height: 90vh;
      background-position: center;
    }
    @include desktop {
      height: 100vh;
      background-position: top;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
  }

  &__text {
    color: $primarytwo;
    font-family: avenir;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 600;
    flex-direction: column;
    align-self: center;

    @include tablet {
      padding-left: 2.25rem;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    @include desktop {
      padding-left: 8.125rem;
    }
  }
}

// biography section

.biography {
  &__text {
    font-family: avenir;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: 0;
    font-weight: 600;
    color: $primaryone;

    @include tablet {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      padding-left: 2.25rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }

    @include desktop {
      padding-left: 8.125rem;
    }
  }
}

.biography__photo {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  @include tablet {
    padding: 0 5.625rem 2.25rem 5.625rem;
  }

  @include desktop {
    padding-left: 13.75rem;
    padding-right: 13.75rem;
  }
}

.biography__quote {
  font-family: avenir;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  line-height: 1.375rem;
  font-weight: 600;
  color: $primaryone;

  @include tablet {
    font-size: 1.375rem;
    padding-left: 5.625rem;
    padding-right: 5.938rem;
    line-height: 2rem;
  }
  @include desktop {
    padding-left: 13.75rem;
    padding-right: 25rem;
  }
}

.biography__quote--name {
  font-family: avenir;
  font-size: 0.875rem;
  padding: 0.5rem 1rem 0 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: $primaryone;

  @include tablet {
    padding: 1.125rem 5.625rem 4.635rem 5.625rem;
    font-size: 1.25rem;
  }
  @include desktop {
    padding-left: 13.75rem;
  }
}

.biography__title {
  font-family: avenir;
  font-size: 0.875rem;
  padding: 1.5rem 1rem 0 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  font-weight: 600;
  color: $primaryone;

  @include tablet {
    padding: 0 5.625rem 2.25rem 5.625rem;
    font-size: 1.688rem;

    @include desktop {
      padding-left: 13.75rem;
    }
  }
}

.biography__one {
  font-family: avenir;
  font-size: 0.813rem;
  padding: 1rem 1rem 0.813rem 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: $primaryone;

  @include tablet {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.biography__two {
  font-family: avenir;
  font-size: 0.813rem;
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: $primaryone;

  @include tablet {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.biography__passage {
  @include tablet {
    display: flex;
    padding-left: 5.625rem;
    padding-right: 5.625rem;
    padding-bottom: 2.25rem;
    column-gap: 2.063rem;
  }
  @include desktop {
    padding-left: 13.75rem;
    padding-right: 13.75rem;
  }
}

//Photo Gallery

.photos {
  background-color: $secondarythree;

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenir;
    color: $primaryone;
    padding: 1.5rem 1rem 0 1rem;
    font-weight: 600;
    color: $primaryone;

    @include tablet {
      padding: 3rem 2.25rem 0 2.25rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
    @include desktop {
      padding-left: 8.125rem;
    }
  }

  &__gallery {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding: 0.5rem;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.75rem;

      @include desktop {
        padding-left: 7.625rem;
        padding-right: 7.625rem;
      }
    }
  }

  &__items {
    @include tablet {
      width: calc(100% / 3);
    }
  }
}

//footer

.footer {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: $primaryone;
  color: $primarytwo;
  font-family: avenir;
  margin-top: 1rem;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125rem;

  @include tablet {
    margin-top: 0;
    padding: 0;
    position: relative;
  }

  @include desktop {
    padding-left: 8.125rem;
  }

  &__social-header {
    font-size: 1.5rem;
    font-family: avenir;
    font-weight: 600;
    padding: 0.5rem 0 1.25rem 0;

    @include tablet {
      font-size: 2.25rem;
      padding-bottom: 0;
    }
  }

  &__links {
    margin-right: 2rem;
  }

  &__cam {
    padding-top: 1.5rem;
    @include tablet {
      padding-top: 0;
      margin-right: 4rem;
    }
  }

  &__pearl {
    @include tablet {
      margin-right: 3.75rem;
    }
  }

  &__name {
    font-family: avenir;
    font-weight: 600;
  }

  &__address {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__email {
    padding-bottom: 1.5rem;
  }
  &__email-link {
    text-decoration: none;
    color: $primarytwo;
  }

  &__copyright {
    padding-top: 3rem;
    @include tablet {
      padding-top: 0;
    }
  }

  &__logo {
    padding-bottom: 1.5rem;
    @include tablet {
      position: absolute;
      right: 2.188rem;
      top: 3.875rem;
      padding-bottom: 0;
    }
    @include desktop {
      right: 8.125rem;
    }
  }

  &__socials-container {
    @include tablet {
      display: flex;
      margin-left: 2.25rem;
      padding-top: 3rem;
      margin-bottom: 0;
      margin-right: 2.25rem;
    }
    @include desktop {
      margin: 0%;
    }
  }

  &__socials {
    @include tablet {
      margin-top: 0.688rem;
      margin-left: 2.25rem;
      margin-bottom: 2.25rem;
    }
  }

  &__contacts {
    @include tablet {
      display: flex;
      margin-left: 2.25rem;
    }
    @include desktop {
      margin: 0;
    }
  }

  &__copy {
    @include tablet {
      padding-bottom: 2.25rem;
      padding-top: 1.5rem;
      margin-left: 2.25rem;
    }
    @include desktop {
      margin: 0;
    }
  }
}
