
@use "./partials/resets" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;


.header{
  background-color: $black;
  padding: 24px 16px 16px 16px;
 

  &__logo{
   display: flex;
   justify-content: center;
   margin: 0 auto;
  }

  &__link{
    text-decoration: none;
  }
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  width: 100%;


  &__list{
    display: flex;
    justify-content: space-evenly;
    font-family: avenir;
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    font-weight: 600;
  }
  &__item{
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__biography{
    text-decoration: none;
    color: $white;
  }

  &__shows{
    text-decoration: none;
    color: $white;
  }
}

.hero{

  &__image{
    width: 100%;
    height: 70vh;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    align-items: center;
  }

  &__text{
    color: $white;
    font-family: avenir;
    font-size: 24px;
    padding-left: 16px;
    font-weight: 600;
  }
}

.biography{
  &__text{
    font-family: avenir;
    font-size: 24px;
    line-height:32px;
    padding: 24px 16px 16px 16px;
    margin-top: 0;
    font-weight: 600;
    color: $black;
  }
}

.biography__photo{
  width: 100%;
  padding: 0 16px 16px 16px;
 
}

.biography__quote{
  font-family: avenir;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  line-height: 22px;
  font-weight: 600;
  color: $black;
}

.biography__quote--name{
  font-family: avenir;
  font-size: 14px;
  padding: 8px 16px 0px 16px;
  line-height: 22px;
  font-weight: 600;
  color: $black;

}

.biography__title{
  font-family: avenir;
  font-size: 14px;
  padding: 24px 16px 0px 16px;
  font-weight: 500;
  line-height: 22px;
  font-weight: 600;
  color: $black;
}

.biography__one{
  font-family: avenir;
  font-size: 13px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right:16px;
  padding-bottom: 8px;
  font-weight: 400;
  line-height: 18px;
  color: $black;
}
.biography__two{
  font-family: avenir;
  font-size: 13px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right:16px;
  padding-bottom: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $black;
}


.photos{
  background-color: $alabaster;

  &__title{
   font-size: 24px;
   line-height: 32px;
   font-family: avenir;
   color: $black;
   padding: 24px 16px 0px 16px; 
   font-weight: 600;
   color: $black;
  }
  
  &__gallery{
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  }
}



.footer{
  padding: 24px 16px 16px 16px;
  background-color: $black;
  color: $white;
  font-family: avenir;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  &__socialheader{
    font-size: 24px;
    font-family: avenir;
    font-weight: 600;
    padding: 8px 0px 24px 0px;
   }

  &__links{
    margin-right: 2rem;
   }

  &__cam{
    padding-top: 24px;
  }

  &__name{
    font-family: avenir;
    font-weight: 600;
  }

  &__address{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__email{
    padding-bottom: 24px;   
  }
  &__email-link{
    text-decoration: none;
    color: white;
  }
  &__copyright{
    padding-top: 48px;
  }
  &__logo{
    padding-bottom: 24px;
  }
}
