* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: avenir;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
.header {
  background-color: #323232;
  padding: 24px 16px 16px 16px;
}
.header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.header__link {
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  width: 100%;
}
.navigation__list {
  display: flex;
  justify-content: space-evenly;
  font-family: avenir;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  font-weight: 600;
}
.navigation__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
.navigation__biography {
  text-decoration: none;
  color: #ffffff;
}
.navigation__shows {
  text-decoration: none;
  color: #ffffff;
}

.hero__image {
  width: 100%;
  height: 70vh;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
}
.hero__text {
  color: #ffffff;
  font-family: avenir;
  font-size: 24px;
  padding-left: 16px;
  font-weight: 600;
}

.biography__text {
  font-family: avenir;
  font-size: 24px;
  line-height: 32px;
  padding: 24px 16px 16px 16px;
  margin-top: 0;
  font-weight: 600;
  color: #323232;
}

.biography__photo {
  width: 100%;
  padding: 0 16px 16px 16px;
}

.biography__quote {
  font-family: avenir;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
}

.biography__quote--name {
  font-family: avenir;
  font-size: 14px;
  padding: 8px 16px 0px 16px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
}

.biography__title {
  font-family: avenir;
  font-size: 14px;
  padding: 24px 16px 0px 16px;
  font-weight: 500;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
}

.biography__one {
  font-family: avenir;
  font-size: 13px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  font-weight: 400;
  line-height: 18px;
  color: #323232;
}

.biography__two {
  font-family: avenir;
  font-size: 13px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #323232;
}

.photos {
  background-color: #fafafa;
}
.photos__title {
  font-size: 24px;
  line-height: 32px;
  font-family: avenir;
  color: #323232;
  padding: 24px 16px 0px 16px;
  font-weight: 600;
  color: #323232;
}
.photos__gallery {
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  padding: 24px 16px 16px 16px;
  background-color: #323232;
  color: #ffffff;
  font-family: avenir;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.footer__socialheader {
  font-size: 24px;
  font-family: avenir;
  font-weight: 600;
  padding: 8px 0px 24px 0px;
}
.footer__links {
  margin-right: 2rem;
}
.footer__cam {
  padding-top: 24px;
}
.footer__name {
  font-family: avenir;
  font-weight: 600;
}
.footer__address {
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__email {
  padding-bottom: 24px;
}
.footer__email-link {
  text-decoration: none;
  color: white;
}
.footer__copyright {
  padding-top: 48px;
}
.footer__logo {
  padding-bottom: 24px;
}/*# sourceMappingURL=bio.css.map */